###################################################
### This is the configuration file for BunnyEMU ###
###################################################


######################################
## Database username/pass goes here ##
######################################
user=root
password=password


############################
## Database names go here ##
############################

authDB=BunnyAuth
charactersDB=BunnyCharacters
worldDB=BunnyWorld


############################################
## Set the realmlist and port number here ##
############################################

databasePort=3306
realmlistAddress=127.0.0.1


##########################
## Misc options go here ##
##########################

enableGUI=1
